<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AzureConnectionString" value="DefaultEndpointsProtocol=http;AccountName=pomona;AccountKey=dHde2dG1uYVEmQSUQw0jqtyYrJuXftNEeMZbfqQGzTFjqfucBWFQqaXej+bK8TnMqIVRcD8qffxXwenPh5rv3g=="/>
    </appSettings>
</configuration>